html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: hsl(0, 0%, 87%);
}